body{
    font-family: 'Times New Roman', Times, serif;
    background-color:rgb(0, 0, 0);
    text-decoration-color: rgb(255, 255, 255);
}
nav{
    display:flex;
    justify-content: center;
}
li{
    display:block;
    background-color:rgb(34, 34, 34);
    padding:10px 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}
a{
    text-decoration: none; 
    color: rgb(255, 255, 255);
}
li:hover{
    background-color: rgb(57, 57, 57);
    color: rgb(0, 0, 0);              
}
h1{
    text-align: center;
    color: rgb(186, 186, 186);
    background-color: rgb(57, 57, 57);
    padding:10px 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}
.cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    margin: 10px;
    padding:10px 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    text-align: center;
    color: black;
    background-color: rgb(45, 45, 45);
}
img{
    margin: 10px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    max-width: 200px;
    height: auto;
}
.item1{
    flex:1;
}
.item{
    flex:2;
    margin: 15px 20px;
    width: auto;
    height: auto;
    background-color: rgb(142, 141, 141);
    padding:10px 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    color: black;
}
@media(max-width: 768px){
    .cont{
        font-size: 12px;
        flex-direction: column;
        align-items: center;
    }
    h1{
        font-size: 24px;
    }
    nav{
        font-size: 12px;
    }
}
@media(min-width: 769px) and (max-width: 992px){
    .cont{
        font-size: 16px;
        flex-direction: column;
        align-items: center;
    }
}